.article-container {
  width: 100%;
  display: wrap;
}

.article-list-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-header-title {
  font-weight: bold;
  font-size: 1.7em;
  color: #2B1C4E;
  padding-left: 0.5em;
}

.logo {
  background-color: #f8aebe;
}