<div class="container">
  <div class="logo">
    <img
      alt="Zyllem Logo"
      src="https://static.wixstatic.com/media/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.png/v1/fill/w_194,h_80,al_c,q_80,usm_0.66_1.00_0.01/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.webp"
    />
  </div>
  <select (change)="filter($event.target.value)">
      <option [value]="null">All</option>
    <ng-container *ngFor="let type of articleType">
      <option [value]="type">{{ type }}</option>
    </ng-container>
  </select>

  <div class="article-video">
    <ng-container *ngIf="videoArticleHighlight">
      <article-video-component [article]="videoArticleHighlight"></article-video-component>
    </ng-container>
  </div><!--.video-article-container-->

  <!-- To put the articles inside this container -->
  <div class="article-container">
    <div class="article-list-holder">
      <ng-container *ngIf="articles">
        <article-renderer-component [articles]="articles"></article-renderer-component>
      </ng-container>
    </div>
  </div><!--.article-container-->
  
  <!-- <div class="bonus-point-container">
    <h3>Instructions:</h3>
    <ul>
      <li>Fix the build</li>
      <li>Allow to filter by article type for the list</li>
      <li>Implement the missing component</li>
      <li>Follow the expected mock up design (article list should be responsive) <a href="assets/mock-up.png" target="_mockup">see the mock design here</a></li>
    </ul>

    <h3>Bonus Points:</h3>
    <ul>
      <li>Apply a nice template for the article list</li>
      <li>Get real data from an API to replace our mock data</li>
      <li>Apply angular router to show an article detail page when you open it from the list</li>
    </ul>
  </div>  -->
</div>
