<div class="container">
  <div style="text-align:center">
    <img
      alt="Zyllem Logo"
      src="https://static.wixstatic.com/media/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.png/v1/fill/w_194,h_80,al_c,q_80,usm_0.66_1.00_0.01/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.webp"
    />
  </div>

  <h2>Articles</h2>

  <!-- Feel free to remove this holder -->
  <h3>Put below a recently published video article given there is one or more video article types in the list.</h3>

  <div class="article-video">
    <ng-container *ngIf="videoArticleHighlight">
      <!-- put the title and the article video component here -->
    </ng-container>
  </div>

  <!-- Feel free to remove this holder -->
  <h3>List of article goes here: (do not include the recently published video article in the list if you already placed it at the top)</h3>

  <!-- To put the articles inside this container -->
  <div class="article-container">
    <div class="article-list-holder">
      <ng-container *ngIf="articles">
        <article-renderer-component [articles]="articles"></article-renderer-component>
      </ng-container>
    </div>
  </div><!--.article-container-->
  
  <div class="bonus-point-container">
    <h3>Instructions:</h3>
    <ul>
      <li>Fix the build</li>
      <li>Allow to filter by article type for the list</li>
      <li>Implement the missing component</li>
      <li>Follow the expected mock up design (article list should be responsive) <a href="assets/mock-up.png" target="_mockup">see the mock design here</a></li>
    </ul>

    <h3>Bonus Points:</h3>
    <ul>
      <li>Apply a nice template for the article list</li>
      <li>Get real data from an API to replace our mock data</li>
      <li>Apply angular router to show an article detail page when you open it from the list</li>
    </ul>
  </div> <!--.bonus-point-container -->
</div>
