:host {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    iframe {
        width: 100%;
    }
}

#title {
    color: #2B1C4E;
    font-size: 2rem;
    margin: 1rem 0;
}